{
    "root": true,
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "sourceType": "module"
    },
    "extends": [
        "plugin:vue/vue3-recommended",
        "@vue/typescript/recommended",
        "plugin:cadence/recommended"
    ],
    "plugins": [
        "cadence"
    ],
    "rules": {
        "vue/no-multiple-template-root": "off"
    }
}