{
	"root": true,
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"sourceType": "module"
	},
	"extends": [
		"@vue/typescript/recommended",
		"plugin:vue/vue3-recommended",
		"plugin:tailwindcss/recommended",
		"plugin:cadence/recommended"
	],
	"plugins": [
		"cadence"
	],
	"rules": {
		"import/named": "off",
		"tailwindcss/no-custom-classname": "off",
		"no-restricted-globals": [
			"error",
			{
				"name": "parseInt",
				"message": "Use Number() to convert strings to numbers. parseInt is very liberal with what it considers a number.\nNumber(\"4f\") // NaN\nparseInt(\"4helloworld\") // 4"
			},
			{
				"name": "isNaN",
				"message": "Use Number.isNaN instead. isNaN does not check the input is of type number, and instead coerces input into a number.\nisNaN(\"foo\"); // true\nNumber.isNaN(\"foo\"); // false"
			}
		],
		"@typescript-eslint/consistent-type-definitions": [
			"error",
			"type"
		],
		"vue/no-deprecated-slot-attribute": "off",
	}
}