@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --topbar-height: 72px;
}

[data-theme="dark"] {
    --md-sys-elevation-level1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
    --md-sys-elevation-level2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
    --md-sys-elevation-level3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    --md-sys-elevation-level4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
    --md-sys-elevation-level5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);

}
[data-theme="light"] {
    --md-sys-elevation-level1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --md-sys-elevation-level2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    --md-sys-elevation-level3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    --md-sys-elevation-level4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
    --md-sys-elevation-level5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}

    --md-sys-color-surface-container-high: var(--md-ref-palette-primary10);
    --md-sys-color-surface-container-highest: var(--md-ref-palette-primary10);

@layer utilities {
    .elevation-1 {
        box-shadow: var(--md-sys-elevation-level1);
        background-color: var(--md-sys-color-surface-container-low);
    }
    .elevation-2 {
        box-shadow: var(--md-sys-elevation-level2);
        background-color: var(--md-sys-color-surface-container);
    }
    .elevation-3 {
        box-shadow: var(--md-sys-elevation-level3);
        background-color: var(--md-sys-color-surface-container-high);
    }
    .elevation-4 {
        box-shadow: var(--md-sys-elevation-level4);
        background-color: var(--md-sys-color-surface-container-high);
    }
    .elevation-5 {
        box-shadow: var(--md-sys-elevation-level5);
        background-color: var(--md-sys-color-surface-container-highest);
    }
}

html {
    background-color: var(--md-sys-color-surface);
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

* {
    color: var(--md-sys-color-on-surface);
// .vueperslides__arrow,
// .vueperslides__bullet {
//     color: var(--md-sys-color-on-primary-container) !important;
// }

.vueperslides__track {
    border-radius: 1.5rem;
}

.vueperslides__arrow {
    display: none;
}